
		<!-- Page Title Section -->
		<section class="page-title-section" style="background-image: url(/images/background/7.jpg)">
			<div class="auto-container">
				<h1>Chef Pizza</h1>
				<div class="content">
					<h3>Reservation</h3>
					<ul class="bread-crumbs">
						<li><a asp-action="Index" asp-controller="Home">Home</a></li>
						<li>Reservation</li>
					</ul>
				</div>
			</div>
		</section>
		<!-- End Page Title Section -->
		<!-- Reservation Page Section -->
		<section class="reservation-page-section">
			<div class="auto-container">
				<div class="row clearfix">

					<!-- Form Column -->
					<div class="form-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<!-- Title Box -->
							<div class="title-box">
								<h4>Reservation</h4>
								<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut <br> blandit arcu in pretium.</div>
								<span class="arrow">
									<img src="~/images/icons/arrow.png" alt="" />
								</span>
							</div>

							<!-- Reservation Form -->
							<div class="reservation-form">
								<form method="post" action="https://gico.io/cyyo/05_Pizza/contact.html">
									<div class="row clearfix">

										<div class="form-group col-lg-12 col-md-12 col-sm-12">
											<input type="text" name="name" placeholder="Name" required="">
										</div>

										<div class="form-group col-lg-12 col-md-12 col-sm-12">
											<input type="email" name="email" placeholder="Email" required="">
										</div>

										<div class="form-group col-lg-12 col-md-12 col-sm-12">
											<input type="text" name="phone" placeholder="Phone" required="">
										</div>

										<div class="form-group col-lg-12 col-md-12 col-sm-12">
											<select class="custom-select-box" name="country">
												<option>Seats</option>
												<option>01</option>
												<option>02</option>
												<option>03</option>
												<option>04</option>
											</select>
										</div>

										<!-- Form Group -->
										<div class="form-group col-lg-6 col-md-6 col-sm-12">
											<input class="datepicker" type="text" placeholder="Check In Date" />
											<span class="icon flaticon-calendar"></span>
										</div>

										<!-- Form Group -->
										<div class="form-group col-lg-6 col-md-6 col-sm-12">
											<input class="timepicker" type="text" placeholder="Check In Date" />
											<span class="icon flaticon-wall-clock"></span>
										</div>

										<div class="col-lg-12 col-md-12 col-sm-12 form-group">
											<textarea class="" name="message" placeholder="Comments"></textarea>
										</div>

										<div class="form-group col-lg-12 col-md-12 col-sm-12">
											<button class="theme-btn btn-style-four" type="submit" name="submit-form"><span class="txt">Pick your date</span></button>
										</div>

									</div>
								</form>

							</div>
							<!-- End Booking Form -->

						</div>
					</div>

					<!-- Image Column -->
					<div class="image-column col-lg-6 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="image">
								<img src="~/images/resource/reservation.png" alt="" />
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- End Reservation Page Section -->
		<!-- Clients Section -->
		<section class="clients-section" style="background-image: url(/images/background/pattern-7.png)">
			<div class="auto-container">
				<div class="inner-container">
					<div class="sponsors-outer">
						<!--Sponsors Carousel-->
						<ul class="sponsors-carousel owl-carousel owl-theme">
							<li class="slide-item"><figure class="image-box"><a href="#"><img src="~/images/clients/1.png" alt=""></a></figure></li>
							<li class="slide-item"><figure class="image-box"><a href="#"><img src="~/images/clients/2.png" alt=""></a></figure></li>
							<li class="slide-item"><figure class="image-box"><a href="#"><img src="~/images/clients/3.png" alt=""></a></figure></li>
							<li class="slide-item"><figure class="image-box"><a href="#"><img src="~/images/clients/4.png" alt=""></a></figure></li>
							<li class="slide-item"><figure class="image-box"><a href="#"><img src="~/images/clients/1.png" alt=""></a></figure></li>
							<li class="slide-item"><figure class="image-box"><a href="#"><img src="~/images/clients/2.png" alt=""></a></figure></li>
							<li class="slide-item"><figure class="image-box"><a href="#"><img src="~/images/clients/3.png" alt=""></a></figure></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- End Clients Section -->
		<!-- Subscribe Section -->
		<section class="subscribe-section" style="background-image: url(/images/background/4.jpg)">
			<div class="auto-container">
				<!-- Sec Title -->
				<div class="sec-title centered">
					<h3>You've Got Pizza</h3>
					<div class="text">Sign up for hot slices of pizza news and special offers! Don’t worry, we won’t clog <br> your inbox or your arteries.</div>
				</div>

				<!-- NewsLetter Form -->
				<div class="newsletter-form">
					<form method="post" action="https://gico.io/cyyo/05_Pizza/contact.html">
						<div class="form-group">
							<input type="email" name="email" value="" placeholder="Email address" required="">
							<button type="submit" class="theme-btn"><span class="txt">Sign up For Subscribe</span></button>
						</div>
					</form>
				</div>

			</div>
		</section>
		<!-- End Subscribe Section -->
		<!-- Main Footer -->
		