@using FinalProject.Business.DTOs.TableDTOs
@model TableGetDTO
<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="post" asp-action="Update" asp-controller="Table" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Title</label>
                    <input asp-for="Title" class="form-control" id="exampleInputEmail1" placeholder="Enter to name">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Price</label>
                    <input asp-for="Price" class="form-control" id="exampleInputEmail1" placeholder="Enter to name">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Seats</label>
                    <input asp-for="Seats" class="form-control" id="exampleInputEmail1" placeholder="Enter to name">
                    <span asp-validation-for="Seats" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>